/********************* GENERAL *********************/
@font-face {
    font-family: 'Dayrom';
    src: url('../polices/dayrom.ttf');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../polices/Comfortaa-Regular.ttf');
}

body
{   
    background-color: rgb(238, 238, 238);
    font-family: Dayrom, serif;
}

.bloc_page
{
    width: 900px;
    margin: auto;
    text-align: justify;
    background-image: -o-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(238, 238, 238, 1) 100%);
    background-image: -webkit-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(238, 238, 238, 1) 100%);
    background-image: -moz-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 95%, rgba(238, 238, 238, 1) 100%);
}

.corps
{
    width: 850px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.corps h1
{
    color: rgb(48, 179, 198);
    text-align: center;
    font-size:1.5em;
    text-shadow: 2px 2px 3px rgb(200, 200, 200);;
    text-transform: uppercase;
}

.corps h2
{
    color: rgb(48, 179, 198);
    text-align: left;
    font-size:1.5em;
    text-shadow: 2px 2px 3px #FFFFFF;
    text-transform: uppercase;
}

section
{
    background-color: rgb(220, 220, 220);
    border-radius: 10px;
    box-shadow: 2px 2px 3px #7A7B7F;
    padding: 10px;
}

img
{
    max-height: 100%;
    max-width: 100%;
}

.center
{
    text-align: center;
}

.mise_en_valeur
{
    font-size: 1.2em;
}

.pinceau
{
    width: 178px;
    height: 60px;
    margin: auto;
}

.pinceau_grand
{
    position: relative;
    top: -60px;
}


/********************* Header *********************/
header
{
    background: url('../images/icones/separateur.png') repeat-x bottom;
    background-color: rgb(238, 238, 238);
}

.titre_principal
{
    width: 320px;
    height: 90px;
}

#logo
{
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px;
}

/********************* Navigation *********************/
nav
{
    text-align: center;
    width : 900px;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
    padding: 5px 10px;
}

nav a
{
    display : block;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 0.8em;
}

/*nav a:hover
{
    color: #;
}*/

.onglets
{
    list-style-type : none;
    margin-top : 0;
}

.onglets li.active
{
    background-color: #fff;
    border-top: 2px solid rgb(170, 142, 147);
    border-right: 2px solid rgb(170, 142, 147);
    border-left: 2px solid rgb(170, 142, 147);
    border-radius: 5px 5px 0px 0px;
}

/*********************** Footer **********************/

footer
{
    background:  url('../images/icones/separateur.png') repeat-x top, url("../images/icones/ico_top.png") no-repeat top;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.backup
{
    margin-top: 0px;
    width: 54px;
    height: 30px;
    margin: auto;
}


/********************* PAGE ACCUEIL *********************/
article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 570px;
    margin-right: 5px;
}

aside
{
    position: relative;
    width: 230px;
    background-color: #7F7F7F;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

section aside h3
{
    font-size: 1.2em;
    text-align: center;
    color: white;
}

.panoramique
{
    border-radius: 10px;
}

.gallery
{
    width: 850px;
    height: 284px;
    margin: auto;
    box-shadow: 2px 2px 3px #7A7B7F;
    border-radius: 10px;
    margin-top: 20px;
}


/********************** PAGE DESCRIPTION **********************/
.tableau_comparatif
{
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 0.9em;
}

.tableau_comparatif .ro2
{
    text-align: center;
    border: 1px solid black;
}

.tableau_comparatif .ro1
{
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

.tableau_comparatif .ce15
{
    font-style: italic;
    border: 1px solid black;
}

.tableau_comparatif .ce19, .ce21, .ce18
{
    border: 1px solid black;
}

.tableau_comparatif tr
{
    line-height: 15px;
}

/********************** PAGE IMAGES **********************/
/********************** Nouveau Carousel **********************/
#standardPhotosgallery
{
    margin: auto;
    width: 800px;
}

.sliderkit-panel .sliderkit-panel-active
{
    width: 800px;
    height: 500px;
}

.sliderkit-panel
{
    text-align: center;
    background-color: white;
    margin: auto;
}

.sliderkit-panel img
{
    height: 500px;
}

#contenu_video
{
    width: 830px;
    height: 500px;
    text-align: center;
}

.div_videos a
{
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.div_videos a:hover
{
    text-decoration: none;
}

.table_videos
{
    width: 550px;
    display: inline-block;
    margin: auto;
}

.miniature
{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-left: 50px;
}

.titre_video
{
    text-align: center;
    width: 550px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: #7F7F7F;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 0px;
}

.bottom
{
    margin-top: 0px;
    width: 550px;
    padding: 0px 5px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #BFBFBF;
    font-weight: normal;
}

/********************** PAGE NEWS **********************/
.billet
{
    margin: auto;
    width: 700px;
}

.billet img
{
    margin-left: -5px;
}

.news h1
{
    text-align: center;
    background-color: #7F7F7F;
    color: white;
    font-size: 1em;
    text-shadow: none;
    text-transform: none;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.auteur
{
    width: 100px;
}

.contenu
{
    margin: 0px;
    padding: 5px 5px 10px;
    background-color: #BFBFBF;
    font-weight: normal;
}

.date
{
    margin-top: 0px;
    padding: 0px 5px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #BFBFBF;
    text-align: right;
    font-weight: normal;
}

.photo
{
    height: 60px;
    width: 60px;
}

.pagination
{
    text-align: center;
}

.page_actuelle
{
    color: #0000FF;
    text-decoration: none;
}

.page_non_courante
{
    color: #000000;
    text-decoration: none;
}

/********************** ADMIN **********************/
.erreur
{
    color: red;
    text-align: center;
}

.tableau_supp
{
    border-collapse: collapse;
}

.tableau_supp td
{
    border: 1px solid black;
}

.image_supp
{
    width: 400px;
    height: 200px;
    text-align: center;
}

.texte_supp
{
    width: 100px;
    text-align: center;
}

.texte_legende
{
    width: 300px;
}

/********************** COULEURS **********************/
/*
Couleur fond grosses bulles = couleur fond billets, changer section background-color et .contenu background-color et .date background-color
Couleur titres = couleur fond titre billets, changer .corps h1 color
Couleur de la bulle "Une participation sur 3 générations", changer aside background-color et .news h1 background-color
Changer la police dans body font-family
*/
